@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.woff2);
}

html,
body{
    font-family: Montserrat, sans-serif;
}


/* Bron hulp light dark mode: MDN light-dark() */

:root{

    color-scheme: light dark;

    --main-bg-color: light-dark(#EFF1F5, #25282b);
    --main-txt-color: light-dark(#546B99, #FFFF); 
    --scnd-txt-color: light-dark(#4A5365, #FFFFFFE6);
    --main-btn-color: light-dark(#FFFF, #333639);
    --gtinvlvd-btn-color: #6F6F6F45;
    --lrn-mr-btn-color: light-dark(#12597F, #85C2E0);
    --color-white: #ffff;
    --thrd-txt-color: #989A9B;
    --lnk-txt-color: #668FA0;
    --spnsr-btn-color: #FFFFFF;
    --dn-btn-color: #F35774;
    --dwnl-btn-txt-color: #263256;
    --ltst-btn-color: #2e8adf;
    --wtsn-btn-color: rgba(122, 121, 125, 0.5);
    --auth-bckg-color: #1a1a1a7a;
    --ltst-nws-txt-color: #FFFFFFE6;
    --ftr-bg-txt-color: (#2C2C2C, #FFFFFF);
    --ftr-txt-color: light-dark(#2C2C2C, #898989);
    --ftr-color: light-dark(#ffff, #111111);
    --hmb-mnu-bckgrnd-color: #333639;
    --font-size-p: 1.125rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.375rem;
    --font-size-spnsr-h3: 1.75rem;
}