@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.woff2);
}

:root{
    --main-bg-color: #25282b;
    --txt-color: white;
    --dn-btn-color: #F35774;
    --dwnl-btn-txt-color: #263256;
    --ltst-btn-color: #2e8adf;
    --wtsn-btn-color: rgba(122, 121, 125, 0.5);
    --auth-bckg-color: #1a1a1a7a;
}