/* Idee voor remedy: Tijn Hollander */

html {
    font-family: Godot-woff, sans-serif;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

header {
    font-family: Montserrat, sans-serif
}