/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	margin: 0;
	background-color: var(--main-bg-color);
}

header nav ul {
	display: none;
}

header {
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-around;
	backdrop-filter: blur(10px);
}

/* Logo */
header>a:first-of-type img {
	width: 8.5rem;
	height: 3rem;
}

/* Donate position */
header>a:nth-of-type(2) {
	color: var(--txt-color);
	text-decoration: none;
	background-color: var(--dn-btn-color);
	font-family: Montserrat, serif;
	padding: .8rem 1.2rem;
	border-radius: .63rem;

	display: inline-flex;
	align-items: center;
	gap: .5rem;
}

header>a:nth-of-type(2) img {
	width: .81rem;
	height: auto;
}


header>img:nth-of-type(1) {
	display: none;
}

/* SECTION 1 */

/* eerste section algemene styling */
main section:first-of-type {
	background-image: url(../images/banner.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr auto auto auto auto .5fr .5fr 1fr 1fr .5fr .5fr;
	grid-template-columns: repeat(4, auto);
}

main section:first-of-type h1 {
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 2.5rem;
	text-align: center;
	grid-column: 1 / 5;
	grid-row-start: 2;
}

main section:first-of-type p:first-of-type {
	grid-column: 1 / 5;
	grid-row: 3 / 4;
	text-align: center;
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 1.25rem;
}

/* Download latest button algemene styling */
main section:first-of-type>a:first-of-type {
	grid-column: 1 / 5;
	grid-row-start: 5;
	justify-self: center;

	display: flex;
	align-items: stretch;

	background: var(--txt-color);
	color: var(--dwnl-btn-txt-color);
	border-radius: .94rem;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	width: fit-content;
	max-width: 100%;
	box-shadow: .01rem .01rem black;
}

/* Download latest button styling witte gedeelte */
main section:first-of-type>a:first-of-type span:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.2rem;
	white-space: normal;
	text-align: center;
}

/* Download latest button styling blauwe gedeelte */
main section:first-of-type>a:first-of-type span:nth-of-type(2) {
	background: var(--ltst-btn-color);
	color: var(--txt-color);
	padding: 1rem 1rem;
	border-radius: 0 .93rem .93rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Styling what's new button */
main section:first-of-type>a:nth-of-type(2) {
	grid-column: 2 / 4;
	grid-row-start: 7;
	justify-self: center;

	background-color: var(--wtsn-btn-color);
	padding: 1em 3.1em;
	max-width: 100%;
	border-radius: .93rem;
	color: var(--txt-color);
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-size: 1.12rem;
	font-weight: 800;
	opacity: 1;
	box-shadow: .01rem .01rem black;
}

/* Looking for Godot 3 etc tekst algemene styling */
main section:first-of-type p:nth-of-type(2) {
	grid-column: 1 / 5;
	grid-row-start: 8;
	justify-self: center;
	text-align: center;
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: .93rem;
}

/* Looking for Godot 3 etc link styling */
main section:first-of-type p:nth-of-type(2) a {
	color: var(--txt-color);
}

/* Author background image styling (Polychroma) */
main section:first-of-type>a:nth-of-type(3) {
	grid-column: 2 / 4;
	grid-row-start: 10;
	justify-self: center;
	color: var(--txt-color);
	font-size: .93rem;
	font-family: Montserrat, serif;
	background-color: var(--auth-bckg-color);

	display: flex;
	align-items: center;
	justify-content: center;
	padding: .2rem;
	border-radius: .31rem;
	opacity: .5;
}

/* SECTION 2 */

main section:nth-of-type(2) h2{
	font-size: var(--font-size-h2);
	font-family: Montserrat, serif;
	color: var(--txt-color);
}
main section:nth-of-type(2)>ul{
	display: grid;
	grid-template-rows: auto .5fr 1fr 1fr;
	list-style-type: none;
	font-family: Montserrat, serif;
	padding: .5rem;
	margin: 0;
}

/* Styling alle items */
main section:nth-of-type(2) a {
	text-decoration: none;
	color: var(--ltst-nws-txt-color);
}

/* Gridverdeling alle items */
main section:nth-of-type(2) article {
	display: grid;
	grid-template-columns: 1fr .1fr 2fr;
	grid-template-rows: 1fr .2fr 1fr;
}

/* H3 styling alle items */
main section:nth-of-type(2) article h3{
	color: var(--txt-color);
	font-size: 1.19rem;
	margin: 0;
	grid-column-start: 3;
}

/* P styling alle items */
main section:nth-of-type(2) article p{
	display: none;
	font-size: var(--font-size-p);
}

/* Image styling alle items */
main section:nth-of-type(2) article img {
	width: 10rem;
	height: 5.63rem;
	grid-row-start: 1;
	border-radius: .44rem;
	box-shadow: .1rem .1rem black;
}

/* Datum indeling alle items */
main section:nth-of-type(2) article time {
	grid-column-start: 3;
	grid-row-start: 3;
}

/* Gridverdeling overschrijving eerste item */
main section:nth-of-type(2) li:first-of-type article {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: none;
}

/* H3 overschrijving eerste item */
main section:nth-of-type(2) li:first-of-type article:first-of-type h3 {
	color: var(--txt-color);
	font-size: 1.4rem;
	grid-column-start: 1;
}

/* P overschrijving eerste item */
main section:nth-of-type(2) li:first-of-type article:first-of-type p {
	display: block;
}

/* Datum overschrijving eerste item */
main section:nth-of-type(2) li:first-of-type article:first-of-type time {
	grid-column-start: 1;
	grid-row-start: 4;
}

/* More news button styling */
main section:nth-of-type(2) ul li:last-of-type a {
	background-color: var(--wtsn-btn-color);
	padding: 1em 2em;
	max-width: 100%;
	border-radius: .7rem;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-size: 1.12rem;
	font-weight: 800;
	opacity: 1;
	box-shadow: .1rem .1rem black;
}


/* SECTION 3 */

/* Padding gehele section */
main section:nth-of-type(3){
	padding-top: 2rem;
}

main section:nth-of-type(3) h2 {
	font-family: Montserrat, sans-serif;
	font-size: var(--font-size-h2);
	color: var(--txt-color);
}

main section:nth-of-type(3)>p {
	font-family: Montserrat, sans-serif;
	font-size: var(--font-size-p);
	color: var(--txt-color);
}

/* Grid verdeling van alle items */
main section:nth-of-type(3) article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
}

/* Indeling alle icons */
main section:nth-of-type(3) article img {
	grid-row-start: 1;
	grid-column: 1 / 4;
	justify-self: center;
}

/* Indeling en styling alle H3's */
main section:nth-of-type(3) article h3 {
	grid-row-start: 2;
	grid-column-start: 2;
	justify-self: center;
	font-family: Montserrat, sans-serif;
	font-size: var(--font-size-h3);
	color: var(--txt-color);
}

/* Indeling en styling alle P's */
main section:nth-of-type(3) article p {
	grid-row-start: 3;
	grid-column: 1 / 4;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: var(--font-size-p);
	color: var(--txt-color);
	padding-left: 1rem;
	padding-right: 1rem;
}

/* Indeling en styling alle Learn More linkjes */
main section:nth-of-type(3) article a {
	grid-row-start: 4;
	grid-column-start: 2;
	justify-self: center;
	text-align: center;
	font-family: Montserrat, sans-serif;
	background-color: var(--wtsn-btn-color);
	color: var(--lrn-mr-btn-color);
	padding: 1em 2em;
	width: 10.5rem;
	border-radius: .7rem;
	text-decoration: none;
	font-weight: 800;
}

@media (min-width: 500px) {
	/* SECTION 2 */

 	/* Gridverdeling alle items */
	main section:nth-of-type(2) article {
		grid-template-columns: .5fr 1fr;
		grid-template-rows: .1fr .1fr .1fr;
		grid-row-start: 1;
		grid-column-start: 2;
	}

	/* H3 styling alle items */
	main section:nth-of-type(2) article h3 {
		grid-column: 2 / 4;
	}

	/* Datum indeling alle items */
	main section:nth-of-type(2) article time {
		grid-column: 2 / 4;
	}
}

@media (max-width: 900px) {
	/* Image styling overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article:first-of-type img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}
}


@media (min-width: 900px) {

	/* SECTION 1 */

	main section:first-of-type{
		padding-left: 2rem;
	}

	main section:first-of-type>a:first-of-type span:first-of-type {
		max-width: none;
	}

	main section:first-of-type {
		grid-template-rows: 1fr 1fr auto auto 1fr auto .5fr .5fr 1fr 1fr .5fr .5fr;
		grid-template-columns: .5fr 1fr 1fr 1fr 1fr
	}

	main section:first-of-type h1 {
		font-size: 3.75rem;
		text-align: start;
		grid-column: 2 / 5;
		grid-row-start: 3;
	}

	main section:first-of-type p:first-of-type {
		grid-column: 2 / 5;
		grid-row: 4 / 5;
		text-align: start;
	}

	main section:first-of-type>a:first-of-type {
		grid-column: 2 / 3;
		grid-row-start: 6;
		border-radius: .63rem;
		justify-self: start;
	}

	main section:first-of-type>a:first-of-type span:nth-of-type(2) {
		border-radius: 0 .63rem .63rem 0;
	}

	main section:first-of-type>a:nth-of-type(2) {
		grid-column: 3 / 4;
		grid-row-start: 6;
		justify-self: start;
	}

	main section:first-of-type p:nth-of-type(2) {
		grid-column: 2 / 4;
		grid-row-start: 8;
		justify-self: start;
	}

	main section:first-of-type>a:nth-of-type(3) {
		grid-column: 5 / 6;
		grid-row-start: 11;
		justify-self: center;
		border-radius: .63rem;
		padding: .3rem;
		font-size: 1.13rem;
	}

	/* SECTION 2 */
	main section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	main section:nth-of-type(2) li:first-of-type {
		grid-row: 1 / 4;
	}

	/* Image styling overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article:first-of-type img {
		width: 36.6rem;
		height: 20.6rem;
		justify-self: start;
	}

	/* More news button */
	main section:nth-of-type(2) ul li:last-of-type {
		grid-column-start: 2;
		justify-self: end;
	}

	/* SECTION 3 */

	/* Grid verdeling gehele section */
	main section:nth-of-type(3) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}

	main section:nth-of-type(3) h2 {
		grid-row-start: 1;
	}

	main section:nth-of-type(3)>p {
		grid-row-start: 2;
		grid-column: 1 / 3;
	}

	main section:nth-of-type(3) article {
		grid-row-start: 3;
	}
}

@media (min-width: 1200px) {
	/* SECTION 2 */
	
	main section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}


	main section:nth-of-type(2) {
		padding: 1rem;
	}

	/* Gridverdeling alle items */
	main section:nth-of-type(2) article {
		grid-template-columns: .5fr 1fr;
		grid-template-rows: .1fr .1fr .1fr;
		grid-row-start: 1;
		grid-column-start: 2;
	}

	/* H3 styling alle items */
	main section:nth-of-type(2) article h3 {
		grid-column-start: 2;
		grid-row-start: 1;
	}

	/* P styling alle items */
	main section:nth-of-type(2) article p {
		display: block;
		grid-column-start: 2;
		grid-row-start: 2;
		margin: 0;
	}

	/* Image styling alle items */
	main section:nth-of-type(2) article img {
		justify-self: start;
		grid-row: 1 / 3;
	}

	/* Datum indeling alle items */
	main section:nth-of-type(2) article time {
		grid-column-start: 2;
		grid-row-start: 3;
	}

	/* Gridverdeling overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article {
		grid-template-rows: auto .5fr .25fr .45fr;
	}

	/* H3 overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article:first-of-type h3 {
		grid-row-start: 3;
		max-width: 37ch;
	}

	/* P overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article:first-of-type p {
		grid-row-start: 4;
		max-width: 50ch;
		grid-column-start: 1;
		align-self: center;
	}

	/* Datum overschrijving eerste item */
	main section:nth-of-type(2) li:first-of-type article:first-of-type time {
		grid-column-start: 1;
		grid-row-start: 5;
	}
}

@media (min-width: 1600px) {

	/* Padding tweede section */
	main section:nth-of-type(2) {
		padding-left: 13rem;
		padding-right: 13rem;
	}

	/* Padding derde section */
	main section:nth-of-type(3) {
		padding-left: 13rem;
		padding-right: 13rem;
	}
}