/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	margin: 0;
	background-color: var(--main-bg-color);
}

header ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	backdrop-filter: blur(12px);
	align-items: center;
	list-style: none;
	padding: .5em;
	margin: 0;
}

header {
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: fixed;
}

/* Logo */
header ul li:first-of-type a:first-of-type img {
	width: 136px;
	height: 48px;
}

/* Donate position */
header ul li:nth-of-type(2) {
	justify-self: end;
}

/* Donate Styling */
header ul li:nth-of-type(2) a {
	color: var(--txt-color);
	text-decoration: none;
	background-color: var(--dn-btn-color);
	font-family: Montserrat, serif;
	padding: .8em;
	border-radius: 10px;
	
}

header ul li:nth-of-type(2) img {
	width: 13px;
	height: auto;
}

header ul li:nth-of-type(3) {
	justify-self: center;
}

main section:first-of-type {
	background-image: url(../images/banner.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr auto auto auto auto .5fr .5fr 1fr 1fr .5fr .5fr;
	grid-template-columns: repeat(4, auto);
}

main section:first-of-type h1 {
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 40px;
	text-align: center;
	grid-column: 1 / 5;
	grid-row-start: 2;
}

main section:first-of-type p:first-of-type {
	grid-column: 1 / 5;
	grid-row: 3 / 4;
	text-align: center;
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 20px;
}

main section:first-of-type>a:first-of-type {
	grid-column: 1 / 5;
	grid-row-start: 5;
	justify-self: center;

	display: flex;
	align-items: stretch;

	background: var(--txt-color);
	color: var(--dwnl-btn-txt-color);
	border-radius: 15px;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	width: fit-content;
	max-width: 100%;
	box-shadow: .01em .01em black;
}

main section:first-of-type>a:nth-of-type(2) {
	grid-column: 2 / 4;
	grid-row-start: 7;
	justify-self: center;

	background-color: var(--wtsn-btn-color);
	padding: 1em 3.1em;
	max-width: 100%;
	border-radius: 15px;
	color: var(--txt-color);
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 800;
	opacity: 1;
	box-shadow: .01em .01em black;
}

main section:first-of-type>a:first-of-type span:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 1.2em;
	white-space: normal;
	text-align: center;
}

main section:first-of-type>a:first-of-type span:nth-of-type(2) {
	background: var(--ltst-btn-color);
	color: var(--txt-color);
	padding: 1em 1em;
	border-radius: 0 15px 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

main section:first-of-type p:nth-of-type(2) {
	grid-column: 1 / 5;
	grid-row-start: 8;
	justify-self: center;
	text-align: center;
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 15px;
}

main section:first-of-type p:nth-of-type(2) a:first-of-type {
	color: var(--txt-color);
}

main section:first-of-type p:nth-of-type(2) a:nth-of-type(2) {
	color: var(--txt-color);
}

main section:first-of-type p:nth-of-type(2) a:nth-of-type(3) {
	color: var(--txt-color);
}

main section:first-of-type>a:nth-of-type(3) {
	grid-column: 2 / 4;
	grid-row-start: 10;
	justify-self: center;
	color: var(--txt-color);
	font-size: 15px;
	font-family: Montserrat, serif;
	background-color: var(--auth-bckg-color);

	display: flex;
	align-items: center;
	justify-content: center;
	padding: .2em;
	border-radius: 5px;
	opacity: .5;
}

@media (max-width: 500px) {
	main section:first-of-type>a:first-of-type span:first-of-type {
		max-width: 10ch;
		padding: 1.3em 5em;
	}
}

@media (min-width: 701px) {
	main section:first-of-type>a:first-of-type span:first-of-type {
		max-width: none;
	}

	main section:first-of-type {
		display: grid;
		grid-template-rows: 1fr 1fr auto auto 1fr auto .5fr .5fr 1fr 1fr .5fr .5fr;
		grid-template-columns: .5fr 1fr 1fr 1fr 1fr
	}

	main section:first-of-type h1 {
		font-size: 60px;
		text-align: start;
		grid-column: 2 / 5;
		grid-row-start: 3;
	}

	main section:first-of-type p:first-of-type {
		grid-column: 2 / 5;
		grid-row: 4 / 5;
		text-align: start;
	}

	main section:first-of-type>a:first-of-type {
		grid-column: 2 / 3;
		grid-row-start: 6;
		border-radius: 10px;
		justify-self: start;
	}

	main section:first-of-type>a:first-of-type span:nth-of-type(2) {
		border-radius: 0 10px 10px 0;
	}

	main section:first-of-type>a:nth-of-type(2) {
		grid-column: 3 / 4;
		grid-row-start: 6;
		justify-self: start;
	}

	main section:first-of-type p:nth-of-type(2) {
		grid-column: 2 / 4;
		grid-row-start: 8;
		justify-self: start;
	}

	main section:first-of-type>a:nth-of-type(3) {
		grid-column: 5 / 6;
		grid-row-start: 11;
		justify-self: center;
		border-radius: 10px;
		padding: .3em;
		font-size: 18px;
	}
}