/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	margin: 0;
	background-color: var(--main-bg-color);
}

header ul {
	width: 100%;
	display: grid;
	backdrop-filter: blur(12px);
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	list-style: none;
	padding: .5em;
	margin: 0;
}

header {
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: fixed;
}

/* Logo */
header ul li a:first-of-type img {
	width: 136px;
	height: 48px;
}

/* Donate position */
header ul li:nth-of-type(2) {
	justify-self: end;
}

/* Donate Styling */
header ul li:nth-of-type(2) a {
	color: var(--txt-color);
	text-decoration: none;
	background-color: var(--dn-btn-color);
	font-family: Montserrat, serif;
	
}

header ul li:nth-of-type(3) {
	justify-self: center;
}

main section:first-of-type {
	background-image: url(../images/banner.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr auto auto auto auto auto auto 1fr 1fr;
	grid-template-columns: repeat(4, auto);
}

main section:first-of-type h1 {
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 40px;
	text-align: center;
	grid-column: 1 / 5;
	grid-row: 2 / 2;
}

main section:first-of-type p:first-of-type {
	grid-column: 1 / 5;
	grid-row: 3 / 4;
	text-align: center;
	color: var(--txt-color);
	font-family: Montserrat, serif;
	font-size: 20px;
}

main section:first-of-type>a:first-of-type {
	grid-column: 1 / 5;
	grid-row: 5 / 5;
	justify-self: center;

	display: flex;
	align-items: stretch;

	background: var(--txt-color);
	color: var(--dwnl-btn-txt-color);
	border-radius: 15px;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	width: fit-content;
	max-width: 100%;
}

main section:first-of-type a:nth-of-type(2) {
	grid-column: 2 / 4;
	grid-row: 6 / 6;
	justify-self: center;
}

main section:first-of-type>a:first-of-type span:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 1.2em;
	white-space: normal;
	text-align: center;
}

main section:first-of-type>a:first-of-type span:nth-of-type(2) {
	background: #2e8adf;
	color: white;
	padding: 1em 1em;
	border-radius: 0 15px 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 15px 15px 0;
}

main section:first-of-type p:nth-of-type(2) {
	grid-column: 1 / 5;
	grid-row: 7 / 7;
	justify-self: center;
	text-align: center;
}

main section:first-of-type a:nth-of-type(3) {
	grid-column: 2 / 4;
	grid-row: 8 / 8;
	justify-self: center;
}

main section:first-of-type p:nth-of-type(3) {
	font-size: 38px;
}


@media (max-width: 500px) {
	main section:first-of-type>a:first-of-type span:first-of-type {
		max-width: 10ch;
		padding: 1.3em 5em;
	}
}

@media (min-width: 701px) {
	main section:first-of-type>a:first-of-type span:first-of-type {
		max-width: none;
	}
}