/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body{
	background-color: #25282b;
}

header ul {
	width: 100%;
	display: grid;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	grid-template-columns: 2fr 1fr 1fr;
	align-items: center;
	list-style: none;
	padding: .5em;
	margin: 0;
}

header {
	top: 0;
	width: 100%;
	position: fixed;
}

header ul li:first-of-type img {
	width: 136px;
	height: 48px;
}

header ul li:nth-of-type(2) {
	justify-self: end;
}

header ul li:nth-of-type(2) a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

header ul li:nth-of-type(3) {
	justify-self: end;
}

main section:first-of-type {
	background-image: url(../images/banner.avif);
	color: #25282b;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}